<div class="row">
  <div class="col-auto">
    <h2>Welcome, Dr. {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Patient:</h3>

    <form class="form new-patient-form">
      <div class="form-group">
        <label for="patient-name">Patient Name:</label>
        <input class="form-input" type="text" id="patient-name" name="patient-name" />
      </div>
      <div class="form-group">
        <label for="patient-phone">Phone :</label>
        <input class="form-input" type="number" id="patient-phone" name="patient-phone" />
      </div>
      <div class="form-group">
        <label for="patient-DOB">DOB :</label>
        <input type="date" class="form-input" id="patient-DOB" name="patient-DOB"></input>
      </div>
      <div class="form-group">
        <label for="patient-insurance">Insurance :</label>
        <input class="form-input" type="text" id="patient-insurance" name="patient-insurance" />
      </div>
      <div class="form-group">
        <label for="patient-next-appointment">Next Appointment :</label>
        <input type="date" class="form-input" id="patient-next-appointment" name="patient-next-appointment"></input>
      </div>
      <div class="form-group">
        <label for="patient-email">Email :</label>
        <input class="form-input" type="text" id="patient-email" name="patient-email" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  
  <div class="col-md-6 project-list">
    <h3>Current Patients:</h3>

    {{#each patients as |patient|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/patient/{{patient.id}}">{{patient.name}}</a></h4>
        <h3><a href="/patient/{{patient.id}}">{{patient.phone}}</a></h3>
        <h3><a href="/patient/{{patient.id}}">{{patient.DOB}}</a></h3>
        <h3><a href="/patient/{{patient.id}}">{{patient.Insurance}}</a></h3>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{patient.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>

</div>

<script src="./js/profile.js"></script>
